.pantalla-contacto {
    @extend %grid;
    grid-template-rows: auto;
    margin-bottom: 100px;
    margin-left: 135px;
    margin-right: 120px;

    .texto-contacto-cont {
        margin-left: 50px;

        .datos {
            padding-bottom: 15px;

            .titulo-contacto {
                @include font (18px, #6599C0, 500);
                font-family: 'Inter', sans-serif;

            }

            .texto-contacto {
                @include font (17px, black, 400);
                font-family: 'Inter', sans-serif;

            }

            .redes-contacto {
                display: flex;
            }

        }

    }
}