.footer-container {
    background-color: white;
    @extend %flex-items-center;
    width: 100vw;
    height: 350px;
    justify-content: space-between;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);

    .footer {
        height: 350px;
        margin-left: 40px;
        margin-right: 40px;
        width: 100vw;
        display: grid;
        grid-template-columns: 20% 25% 35% 10%;
        column-gap: 40px;

        .marca {
            font-size: 15px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            display: flex;
            align-self: end;
            margin-bottom: 10px;
        }

        .footer-logo {
            @extend %flex-self-center
            margin-bottom: 10px;

            .logotipo-footer {
                width: 300px;
            }
        }

        .info-footer {
            @extend %flex-items-center;
            justify-content: center;
            width: 400px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .redes2 {
            @extend %flex-self-end;
            margin-top: 5px;
            margin-bottom: 10px;
            justify-content: flex-end;

            .logo-ig {
                width: 25px;
                margin-right: 7px;
            }

            .logo-ig {
                width: 25px;
                margin-right: 7px;
            }
        }

    }
}