.pantalla-inicio {
    position: relative;

    .castillo {
        width: 100vw;
        margin-top: 70px;

    }

    .logo-inicio {
        position: absolute;
        top: 23%;
        left: 25%;
        width: 50vw;
    }
}

.grid1 {
    @extend %grid;
    grid-template-rows: auto;
    margin-left: 96px;
    margin-bottom: 90px;

    .h1 {
        @extend %flex-self-center;
        flex-direction: column;
        text-align: left;
        z-index: 50;

        h1 {
            font-family: 'Fira Sans Condensed';
            @include font (75px, #6599C0, 1);
            width: 700px;
        }
    }

    .globos-grid {
        @extend %flex-items-center;
        justify-content: flex-end
    }
}

.grid {
    @extend %grid;
    grid-template-rows: 400px repeat(3, 325px);
    row-gap: 100px;
    margin-left: 96px;
    margin-right: 96px;
    margin-bottom: 100px;
    margin-top: 50px;

    .imagenes-inicio-cont {
        @extend %flex-items-center;
        
        .imagenes-inicio {
            width: 100%;
            border-radius: 10px;
        }
    }

    .texto-inicio {
        @extend %flex-items-center;
        flex-direction: column;
        align-self: center;

        h2 {
            font-family: 'Fira Sans Condensed';
            @include font (80px, #6599C0, 1);
        }

        .desc-inicio {
            font-family: 'Fira Sans Condensed';
            @include font (30px, #6599C0, 1);
            width: 450px;
            text-align: center;
        }
    }
}