.pantalla-secciones {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    margin-left: 140px;
    margin-bottom: 90px;
    margin-top: 70px;

    .pantalla-servicios {
        display: flex;
        align-self: center;
        flex-direction: column;
        margin-bottom: 20px;

        h4 {
            display: flex;
            position: relative;
            font-family: 'Fira Sans Condensed';
            font-size: 85px;
            color: #6599C0;
            z-index: 500;
            justify-content: center;

            text-align: left;
        }

        .desc-secciones {
            display: flex;
            position: relative;
            font-size: 25px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            width: 400px;
            z-index: 500;
        }

    }

    .imagen-secciones-conteiner {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .imagen-secciones {
            width: 100%;
        }
    }


}