.pantalla-secciones {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    margin-left: 140px;
    margin-bottom: 90px;
    margin-top: 70px;

    .pantalla-servicios {
        @extend %flex-self-center;
        flex-direction: column;
        margin-bottom: 20px;

        h4 {
            display: flex;
            position: relative;
            font-family: 'Fira Sans Condensed';
            @include font (85px, #6599C0, 1);
            z-index: 500;
            justify-content: center;
            text-align: left;
        }

        .desc-secciones {
            display: flex;
            position: relative;
            @include font (25px, black, 400);
            font-family: 'Inter', sans-serif;
            width: 400px;
            z-index: 500;
        }

    }

    .imagen-secciones-conteiner {
        @extend %flex-items-center;
        justify-content: flex-end;

        .imagen-secciones {
            width: 100%;
        }
    }


}