@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@800&family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;

}

/* header */

header {
    width: 100vw;
}

.logo-isotipo {
    width: 55px;
    padding: 15px;

}

.logo-container {
    width: 5%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    /* background-color: green; */
}

.menu-header {
    background-color: white;
    display: flex;
    width: 100vw;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}


.lista-menu {
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    width: 100%;
    align-items: center;
    list-style-type: none
}

.menu {
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    color: #6599C0;
    padding: 20px;

}

.redes {
    display: flex;
    margin-top: 5px;
    margin-right: 40px;
}

.logo-ig {
    width: 25px;
    margin-right: 7px;
}

.logo-fb {
    width: 25px;
    margin-left: 7px;
}

/* fin header */

/* index */

.castillo {
    width: 100vw;
    margin-top: 70px;
}

.pantalla-inicio {
    position: relative;
}

.logo-inicio {
    position: absolute;
    top: 23%;
    left: 25%;
    width: 50vw;
}

.grid1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-left: 96px;
    margin-bottom: 90px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px repeat(3, 325px);
    row-gap: 100px;
    margin-left: 96px;
    margin-right: 96px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.texto-inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

.h1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
    z-index: 50;

}

h1 {

    font-family: 'Fira Sans Condensed';
    font-size: 75px;
    color: #6599C0;
    width: 700px;
}

.globos-grid {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.globos {
    width: 100%;

}

h2 {
    font-family: 'Fira Sans Condensed';
    font-size: 80px;
    color: #6599C0;

}

.desc-inicio {
    font-family: 'Fira Sans Condensed';
    font-size: 30px;
    color: #6599C0;
    width: 450px;
    text-align: center;
}

.info-footer {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

}

.imagenes-inicio-cont {
    display: flex;
    align-items: center;
}

.imagenes-inicio {
    width: 100%;
    border-radius: 10px;
}

/* fin index */



/* servicios */

.pantalla-secciones {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    margin-left: 140px;
    margin-bottom: 90px;
    margin-top: 70px;
}

.pantalla-servicios {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-bottom: 20px;

}

h4 {
    display: flex;
    position: relative;
    font-family: 'Fira Sans Condensed';
    font-size: 85px;
    color: #6599C0;
    z-index: 500;
    justify-content: center;

    text-align: left;
}

.desc-secciones {
    display: flex;
    position: relative;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 400px;
    z-index: 500;
}

.imagen-secciones {
    width: 100%;
}

.imagen-secciones-conteiner {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

h5 {
    font-family: 'Fira Sans Condensed';
    font-size: 50px;
    color: #6599C0;
}

.h5 {
    display: flex;
    text-align: center;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.grid-servivios {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px;
    row-gap: 100px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    align-items: center;

}

.desc-servicios {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-bottom: 20px;


}

h6 {
    font-family: 'Fira Sans Condensed';
    font-size: 35px;
    color: #6599C0;
    width: 500px;
}

.descs {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 380px;
}

.imagenes-servicios {
    width: 100%;
    border-radius: 10px;
}

/* fin servicios */

/* destinos */

.especif {
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #6599C0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.desc-destinos {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

li{
    padding-top: 1px;
    padding-bottom: 1px;
}
.grid-destinos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 370px;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 145px;
    margin-bottom: 100px;
    row-gap: 145px;
}

.Disney{
    display: flex;
    align-self:end;
    flex-direction: column;
}

.fotos-destinos {
    width:100%;
    display: flex;
    align-self: center;
    border-radius: 10px;
}

#logo-wdw{
    width: 60%;
}
.logo-destino{
    width: 50%;
}


/* fin destinos */

/* nosotros */
.texto-nosotros-cont {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    row-gap: 50px;
    margin-bottom: 100px;

}

.texto-nosotros {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
}

.titulo-nos {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #6599C0;
    text-align: center;
    margin-bottom: 15px;
}

.desc-nos {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 800px;
    text-align: center;
    display: flex;
    align-self: center;
}



/* fin nosotros */

/* contacto */

.titulo-contacto {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #6599C0;
}

.texto-contacto {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.pantalla-contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-bottom: 100px;
    margin-left: 135px;
    margin-right: 120px;
}

.texto-contacto-cont {
    margin-left: 50px;
}

.datos {
    padding-bottom: 15px;
}

.redes-contacto {
    display: flex;
}

/* fin contacto */

/* footer */

.footer-container {
    background-color: white;
    display: flex;
    width: 100vw;
    height: 350px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.footer {
    height: 350px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 25% 35% 10%;
    column-gap: 40px
}

.marca {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    display: flex;
    align-self: end;
    margin-bottom: 10px;
}

.footer-logo {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}

.logotipo-footer {
    width: 300px;
}


.info-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}


.redes2 {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    align-self: end;
    justify-content: flex-end
}


/* fin footer */